Repository nandkapadia/streamlit-lightweight-charts-pro: changes, and which pre-commit hooks are due for each by the changed paths.
All: wrap-long-lines, frontend-checks

Path conditions:
  wrap-long-lines: any of: \.py$
  frontend-checks: any of: ^streamlit_lightweight_charts_pro/frontend/

Fix formatting issues from pre-commit hooks
  scripts/clean_cache.sh
  scripts/rebuild_frontend.sh
  scripts/run-backend-precommit.sh
  scripts/run-frontend-precommit-production.sh
  scripts/run-frontend-precommit.sh
  streamlit_lightweight_charts_pro/charts/chart.py
  streamlit_lightweight_charts_pro/charts/options/sync_options.py
  streamlit_lightweight_charts_pro/charts/series/histogram.py
  tests/pytest.ini
  tests/pytest_xdist.ini
Due: wrap-long-lines

Simplify pre-commit workflow for better user experience
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
  setup.py
  streamlit_lightweight_charts_pro/charts/chart.py
  streamlit_lightweight_charts_pro/charts/options/sync_options.py
  streamlit_lightweight_charts_pro/charts/series/base.py
  streamlit_lightweight_charts_pro/charts/series/histogram.py
Due: wrap-long-lines

Test new simplified pre-commit workflow
  README.md
  scripts/pre-commit.sh
Due: none

Implement clean commit workflow with auto-staging
  DEVELOPMENT.md
  Makefile
  README.md
  scripts/pre-commit.sh
Due: none

Complete React 19 enhancement implementation with advanced features and ESLint fixes
  streamlit_lightweight_charts_pro/frontend/package-lock.json
  streamlit_lightweight_charts_pro/frontend/package.json
  streamlit_lightweight_charts_pro/frontend/src/__tests__/mocks/TestDataFactory.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/performance/benchmarks.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/performance/memory-leak-detection.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/plugins.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/tooltip.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/ChartCoordinateService.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/ChartPrimitiveManager.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/setup/testConfiguration.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/setup/testSetup.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/coordinateValidation.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/resizeObserverManager.test.ts
  streamlit_lightweight_charts_pro/frontend/src/actions/chartActions.ts
  streamlit_lightweight_charts_pro/frontend/src/components/ChartAutoSizingManager.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ChartContainer.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ChartFormActions.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ChartMetadata.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ChartProfiler.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ChartSeriesManager.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ChartSuspenseWrapper.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ChartSyncManager.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/ProgressiveChartLoader.tsx
  streamlit_lightweight_charts_pro/frontend/src/hooks/useChartData.ts
  streamlit_lightweight_charts_pro/frontend/src/hooks/useChartFormActions.ts
  streamlit_lightweight_charts_pro/frontend/src/hooks/useEnhancedRefs.ts
  streamlit_lightweight_charts_pro/frontend/src/hooks/useOptimisticChartUpdates.ts
  streamlit_lightweight_charts_pro/frontend/src/hooks/useOptimizedChart.ts
  streamlit_lightweight_charts_pro/frontend/src/managers/SeriesManager.tsx
  streamlit_lightweight_charts_pro/frontend/src/utils/assetLoader.ts
  streamlit_lightweight_charts_pro/frontend/src/utils/chartScheduler.ts
  streamlit_lightweight_charts_pro/frontend/src/utils/lazyLoading.ts
  streamlit_lightweight_charts_pro/frontend/src/utils/react19PerformanceMonitor.ts
  streamlit_lightweight_charts_pro/frontend/vite.config.ts
Due: frontend-checks

fix: update pre-commit config to exclude docs from large file check
  .pre-commit-config.yaml
Due: none

Refactor error handling and validation messages for data types
  streamlit_lightweight_charts_pro/charts/series/base.py
  streamlit_lightweight_charts_pro/exceptions.py
  streamlit_lightweight_charts_pro/utils/data_utils.py
  streamlit_lightweight_charts_pro/utils/serialization.py
  tests/unit/data/test_area_data.py
  tests/unit/data/test_bar_data.py
  tests/unit/data/test_marker.py
  tests/unit/options/test_chainable_decorators.py
  tests/unit/series/test_series_base.py
Due: wrap-long-lines

Enhance test cases for AreaData and HistogramSeries
  tests/unit/data/test_area_data.py
  tests/unit/series/test_histogram_series.py
Due: wrap-long-lines

Refactor test cases for improved type safety and clarity
  streamlit_lightweight_charts_pro/frontend/src/__tests__/actions/chartActions.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/components/ProgressiveChartLoader.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/hooks/useChartData.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/gradientRibbonSeries.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/ribbonSeries.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/ribbonSeriesHybrid.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/trendFillSeries.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/BandPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/ButtonPanelPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/GradientRibbonPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/LegendPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/PrimitiveStylingUtils.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/RangeSwitcherPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/RibbonPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/TrendFillPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/BaseService.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/ChartCoordinateService.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/ChartPrimitiveManager.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/CornerLayoutManager.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/PrimitiveEventManager.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/SeriesConfigurationService.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/StreamlitSeriesConfigService.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/TemplateEngine.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/annotationSystem.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/tradeVisualization.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/assetLoader.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/chartScheduler.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/colorUtils.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/coordinateValidation.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/helpers.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/lightweightChartsUtils.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/lineStyle.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/performance.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/react19PerformanceMonitor.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/renderingUtils.test.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/bandSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/gradientRibbonSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/ribbonSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/signalSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/trendFillSeriesPlugin.ts
Due: frontend-checks

Removed "streamlit-component-lib-react-hooks": "^1.2.8"
  streamlit_lightweight_charts_pro/frontend/package-lock.json
  streamlit_lightweight_charts_pro/frontend/package.json
  streamlit_lightweight_charts_pro/frontend/src/hooks/useStreamlit.ts
  streamlit_lightweight_charts_pro/frontend/src/index.tsx
Due: frontend-checks

Enhance Chart Component with Session State Management and Key Generation
  streamlit_lightweight_charts_pro/charts/chart.py
  streamlit_lightweight_charts_pro/frontend/.gitignore
  streamlit_lightweight_charts_pro/frontend/CODE_REVIEW.md
  streamlit_lightweight_charts_pro/frontend/package.json
  streamlit_lightweight_charts_pro/frontend/src/LightweightCharts.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/components/ProgressiveChartLoader.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/components/SeriesSettingsDialog.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/e2e/chart-lifecycle.e2e.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/e2e/data-updates.e2e.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/e2e/error-scenarios.e2e.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/e2e/series-operations.e2e.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/e2e/user-interactions.e2e.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/plugins.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/signalSeries.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/LegendPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/RangeSwitcherPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/TrendFillPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/BaseService.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/CornerLayoutManager.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/services/PrimitiveEventManager.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/unit/index.test.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/TestUtilities.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/colorUtils.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/utils/renderingUtils.test.ts
  streamlit_lightweight_charts_pro/frontend/src/forms/SeriesSettingsDialog.tsx
  streamlit_lightweight_charts_pro/frontend/src/hooks/useStreamlit.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/bandSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/base/IBaseCustomPaneView.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/gradientRibbonSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/ribbonSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/signalSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/trendFillSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/primitives/ButtonPanelPrimitive.ts
  streamlit_lightweight_charts_pro/frontend/vitest.config.ts
Due: wrap-long-lines, frontend-checks

Remove temporary ribbon series test harness and related files
  RIBBON_TEST_README.md
  run_ribbon_test.py
  streamlit_lightweight_charts_pro/__init__.py
  streamlit_lightweight_charts_pro/charts/chart_manager.py
  streamlit_lightweight_charts_pro/cli.py
  streamlit_lightweight_charts_pro/data/trade.py
  streamlit_lightweight_charts_pro/exceptions.py
  temp_ribbon_test.py
  test_gradient_ribbon.py
Due: wrap-long-lines

Implement critical code quality improvements for series systems
  streamlit_lightweight_charts_pro/frontend/COMPREHENSIVE_CODE_REVIEW.md
  streamlit_lightweight_charts_pro/frontend/FACTORY_MIGRATION_PLAN.md
  streamlit_lightweight_charts_pro/frontend/IMPLEMENTATION_SUMMARY.md
  streamlit_lightweight_charts_pro/frontend/src/forms/SeriesSettingsDialog.tsx
  streamlit_lightweight_charts_pro/frontend/src/series/UnifiedPropertyMapper.ts
  streamlit_lightweight_charts_pro/frontend/src/series/UnifiedSeriesFactory.ts
  streamlit_lightweight_charts_pro/frontend/src/series/core/UnifiedSeriesDescriptor.ts
  streamlit_lightweight_charts_pro/frontend/src/series/descriptors/builtinSeriesDescriptors.ts
  streamlit_lightweight_charts_pro/frontend/src/series/descriptors/customSeriesDescriptors.ts
Due: frontend-checks

Update Testing Standards and Remove Obsolete Visual Testing Documentation
  .cursor/rules/testing-standards.mdc
  streamlit_lightweight_charts_pro/frontend/VISUAL_TESTING.md
  streamlit_lightweight_charts_pro/frontend/src/components/buttons/types/GearButton.tsx
Due: frontend-checks

Set production logging level to WARN
  streamlit_lightweight_charts_pro/frontend/src/utils/logger.ts
Due: frontend-checks

Apply prettier formatting
  streamlit_lightweight_charts_pro/frontend/src/LightweightCharts.tsx
Due: frontend-checks

Refactor Quantity Calculation and Enhance Chart Component Functionality
  examples/candlestick_charts/brownian_motion_trades_chart.py
  examples/candlestick_charts/trade_visualization_options_example.py
  examples/test_harness/simple_series_test.py
  streamlit_lightweight_charts_pro/charts/chart.py
  streamlit_lightweight_charts_pro/charts/series_settings_api.py
  streamlit_lightweight_charts_pro/component.py
  streamlit_lightweight_charts_pro/frontend/src/LightweightCharts.tsx
  streamlit_lightweight_charts_pro/frontend/src/components/buttons/base/ButtonRegistry.ts
  streamlit_lightweight_charts_pro/frontend/src/forms/SeriesSettingsDialog.tsx
  streamlit_lightweight_charts_pro/frontend/src/hooks/useSeriesSettingsAPI.ts
  streamlit_lightweight_charts_pro/frontend/src/primitives/TradeRectanglePrimitive.ts
  streamlit_lightweight_charts_pro/frontend/src/services/PaneCollapseManager.ts
  streamlit_lightweight_charts_pro/frontend/src/services/SeriesDialogManager.ts
  streamlit_lightweight_charts_pro/frontend/src/services/StreamlitSeriesConfigService.ts
  streamlit_lightweight_charts_pro/frontend/src/utils/logger.ts
  streamlit_lightweight_charts_pro/frontend/src/utils/react19PerformanceMonitor.ts
  streamlit_lightweight_charts_pro/logging_config.py
  streamlit_lightweight_charts_pro/utils/profiler.py
Due: wrap-long-lines, frontend-checks

Update CI Configuration and Upgrade Artifact Upload Action
  .github/workflows/ci.yml
Due: none

Refactor Build Process and Update Documentation
  CLAUDE.md
  build_wheel.py
  requirements-ci.txt
  setup.py
  streamlit_lightweight_charts_pro/frontend/package.json
Due: wrap-long-lines, frontend-checks

Fix CI/CD pipeline and add series settings persistence
  pyproject.toml
  streamlit_lightweight_charts_pro/charts/chart.py
  test_persistence_flow.py
  test_persistence_solution.py
Due: wrap-long-lines

Fix series settings persistence by enabling frontend-to-backend communication
  streamlit_lightweight_charts_pro/frontend/src/services/StreamlitSeriesConfigService.ts
  test_persistence_minimal.py
Due: wrap-long-lines, frontend-checks

Update import statement in __init__.py for compatibility with older Python versions
  streamlit_lightweight_charts_pro/__init__.py
Due: wrap-long-lines

Update the git ignore
  .gitignore
Due: none

Release v0.1.5: Critical bug fixes and comprehensive test coverage
  CHANGELOG.md
  examples/base_series/data_handling.py
  examples/test_harness/simple_series_test.py
  pyproject.toml
  setup.py
  streamlit_lightweight_charts_pro/__init__.py
  streamlit_lightweight_charts_pro/charts/series/base.py
  streamlit_lightweight_charts_pro/frontend/package-lock.json
  streamlit_lightweight_charts_pro/frontend/package.json
  streamlit_lightweight_charts_pro/frontend/src/LightweightCharts.tsx
  streamlit_lightweight_charts_pro/frontend/src/__tests__/plugins/bandSeriesHybrid.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/primitives/BandPrimitive.test.ts
  streamlit_lightweight_charts_pro/frontend/src/__tests__/visual/series/custom.visual.test.ts
  streamlit_lightweight_charts_pro/frontend/src/forms/SeriesSettingsDialog.tsx
  streamlit_lightweight_charts_pro/frontend/src/plugins/series/bandSeriesPlugin.ts
  streamlit_lightweight_charts_pro/frontend/src/primitives/BandPrimitive.ts
  streamlit_lightweight_charts_pro/frontend/src/primitives/TrendFillPrimitive.ts
  streamlit_lightweight_charts_pro/frontend/src/series/core/UnifiedSeriesDescriptor.ts
  streamlit_lightweight_charts_pro/frontend/src/series/descriptors/customSeriesDescriptors.ts
  tests/performance/test_histogram_performance.py
  tests/performance/test_performance.py
  tests/unit/charts/test_chart_frontend.py
  tests/unit/charts/test_chart_manager.py
  tests/unit/charts/test_property_based.py
  tests/unit/data/test_baseline_data.py
  tests/unit/data/test_candlestick_data.py
  tests/unit/data/test_histogram_data.py
  tests/unit/data/test_marker.py
  tests/unit/data/test_signal_data.py
  tests/unit/data/test_tooltip.py
  tests/unit/options/test_pane_heights.py
  tests/unit/series/test_band_series.py
  tests/unit/series/test_line_series.py
Due: wrap-long-lines, frontend-checks

Refactor line options handling to improve structure and clarity
  streamlit_lightweight_charts_pro/charts/series/base.py
  streamlit_lightweight_charts_pro/frontend/src/series/UnifiedSeriesFactory.ts
  streamlit_lightweight_charts_pro/frontend/src/series/descriptors/builtinSeriesDescriptors.ts
  tests/unit/series/test_area_series.py
  tests/unit/series/test_baseline_series.py
  tests/unit/series/test_line_series.py
Due: wrap-long-lines, frontend-checks

Refactor chart manager and series display name handling for clarity
  .cursor/rules/09-MARKER-PROPERTIES-IMPLEMENTATION.mdc
  .cursor/rules/10-LEGEND-VALUE-PLACEHOLDERS.mdc
  streamlit_lightweight_charts_pro/charts/chart.py
  streamlit_lightweight_charts_pro/charts/chart_manager.py
  tests/integration/test_chart_series_integration.py
  tests/pytest.ini
  tests/unit/charts/test_update_methods.py
Due: wrap-long-lines

Bump version to 0.1.6
  pyproject.toml
  setup.py
  streamlit_lightweight_charts_pro/__init__.py
Due: wrap-long-lines

Update CHANGELOG.md for version 0.1.6
  CHANGELOG.md
Due: none

Bump version to 0.1.6
  CHANGELOG.md
  pyproject.toml
  setup.py
  streamlit_lightweight_charts_pro/__init__.py
  streamlit_lightweight_charts_pro/frontend/package-lock.json
Due: wrap-long-lines, frontend-checks
